In [37]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/akshatdave/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [38]:
import pandas as pd
import re
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from nltk.stem.snowball import SnowballStemmer
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [39]:
data = pd.read_csv("blogtext.csv",nrows=100000)
data

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
...,...,...,...,...,...,...,...
99995,1709399,male,27,Student,Virgo,"18,September,2003",THE HINDU - 125 YEARS ...
99996,1709399,male,27,Student,Virgo,"16,September,2003",DILBERT & IIT-ans ...
99997,1709399,male,27,Student,Virgo,"12,September,2003",Case Study : How HP won $3 billion...
99998,1709399,male,27,Student,Virgo,"09,September,2003",Championing Chennai ...
99999,1709399,male,27,Student,Virgo,"05,September,2003",WEEKEND It...

In [40]:
data.shape

(100000, 7)

In [41]:
data.sample(5)

,id,gender,age,topic,sign,date,text
96820,3743863,male,35,Transportation,Pisces,"09,July,2004",urlLink Save&nbsp;25%&nbsp;on&nb...
96607,3460152,male,15,Student,Capricorn,"28,May,2004",Yes - You have read the title corre...
22739,2913134,male,26,indUnk,Aquarius,"06,July,2004","Well, I just wrote that title..."
29982,3310475,male,16,Biotech,Gemini,"27,June,2004",well firstly an apology for the last...
90061,3854822,male,26,indUnk,Virgo,"08,July,2004",This guy is such a non-journalist. I su...

In [42]:
# remove unwanted chars other than alphanumeric
pattern = "[^\w ]"
data.text = data.text.apply(lambda s : re.sub(pattern,"",s))

In [43]:
#covert text to lower
data.text = data.text.apply(lambda s: s.lower())

In [44]:
#remove unwanted spaces
data.text = data.text.apply(lambda s: s.strip())

In [45]:
#remove stopwords
stopwords=set(stopwords.words('english'))

In [46]:
data.text = data.text.apply(lambda t: ' '.join([words for words in t.split() if words not in stopwords]) )

In [47]:
data.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info found 100 pages 45 mb pdf files wait unti...
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoos toolbar capture urls popupswhich...

In [48]:
# drop id and date columns
data.drop(labels=['id','date'], axis=1,inplace=True)

In [49]:
data.head()

,gender,age,topic,sign,text
0,male,15,Student,Leo,info found 100 pages 45 mb pdf files wait unti...
1,male,15,Student,Leo,team members drewes van der laag urllink mail ...
2,male,15,Student,Leo,het kader van kernfusie op aarde maak je eigen...
3,male,15,Student,Leo,testing testing
4,male,33,InvestmentBanking,Aquarius,thanks yahoos toolbar capture urls popupswhich...

In [50]:
data['labels'] = data.apply(lambda col : [col['gender'],col['age'],col['topic'],col['sign']], axis=1)

In [51]:
data.head()

,gender,age,topic,sign,text,labels
0,male,15,Student,Leo,info found 100 pages 45 mb pdf files wait unti...,"[male, 15, Student, Leo]"
1,male,15,Student,Leo,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,male,15,Student,Leo,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,male,15,Student,Leo,testing testing,"[male, 15, Student, Leo]"
4,male,33,InvestmentBanking,Aquarius,thanks yahoos toolbar capture urls popupswhich...,"[male, 33, InvestmentBanking, Aquarius]"

In [52]:
#drop  gender,age,topic & sign as they are already merged to labels column
data.drop(columns=['gender','age','topic','sign'], axis=1, inplace=True)

In [53]:
data.head()

,text,labels
0,info found 100 pages 45 mb pdf files wait unti...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoos toolbar capture urls popupswhich...,"[male, 33, InvestmentBanking, Aquarius]"

In [54]:
X = data.text
y = data.labels

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=2,test_size = 0.2)

In [56]:
print(X_train.shape)
print(y_train.shape)

(80000,)
(80000,)

In [57]:
print(X_test.shape)
print(y_test.shape)

(20000,)
(20000,)

In [58]:
cvect = CountVectorizer(ngram_range=(1,2))

In [59]:
#Feed SMS data to CountVectorizer
cvect.fit(X_train)

#Check the vocablury size
len(cvect.vocabulary_)

4517090

In [60]:
cvect.get_feature_names()

['00',
 '00 damarcus',
 '00 damn',
 '00 doesnt',
 '00 dont',
 '00 draw',
 '00 games',
 '00 laughed',
 '00 lil',
 '00 morning',
 '00 really',
 '00 silver',
 '00 sometimes',
 '00 soooooo',
 '00 sq',
 '00 tcr1',
 '00 tie',
 '00 uppercase_75_100',
 '00 watch',
 '00 well',
 '000',
 '000 address',
 '000 available',
 '000 best',
 '000 calories',
 '000 cheaper',
 '000 comptes',
 '000 could',
 '000 duration',
 '000 et',
 '000 first',
 '000 ft',
 '000 fulltime',
 '000 good',
 '000 heh',
 '000 leaving',
 '000 nothing',
 '000 odd',
 '000 people',
 '000 pounds',
 '000 rupees',
 '000 seats',
 '000 sec',
 '000 seems',
 '000 straight',
 '000 subject',
 '000 thats',
 '000 years',
 '000 yen',
 '0000',
 '0000 arent',
 '0000 blinking',
 '0000 hopefully',
 '0000 hrs',
 '0000 new',
 '0000 showed',
 '0000 still',
 '0000 subject',
 '000000',
 '000000 flickrframe',
 '000000 fontfamily',
 '000000 zero',
 '000000000000000000000000167',
 '000000000000000000000000167 grams',
 '000000000000000000000section',
 '000000000000000000000section c09er',
 '00000000345',
 '00000000345 secs',
 '00000001',
 '00000001 second',
 '0000001',
 '0000001 zbaras',
 '000000flickryourcomment',
 '000000flickryourcomment flickrframe',
 '000000this',
 '000000this certifies',
 '000001',
 '000001 maybe',
 '00000800',
 '00000800 thats',
 '00001',
 '00001 kilowatt',
 '00001 point',
 '0001',
 '0001 chances',
 '0001 nice',
 '00011000101',
 '00011000101 benji',
 '000264',
 '000264 31058',
 '0002hrs',
 '0002hrs last',
 '0005',
 '0005 seconds',
 '000nbsp',
 '000nbsp list',
 '000oooh',
 '000oooh yes',
 '001',
 '001 first',
 '001 full',
 '001 javaioioexception',
 '001 teacher',
 '001 time',
 '001 urllink',
 '0010',
 '0010 fell',
 '00101110010101101101001110100100101010001',
 '00101110010101101101001110100100101010001 exitexe',
 '00145',
 '00145 percent',
 '0015',
 '0015 15',
 '001875',
 '001875 plugging',
 '002',
 '002 44th',
 '002 first',
 '002 like',
 '002 middle',
 '002 sex',
 '002 thank',
 '002 urllink',
 '002020',
 '002020 gmt',
 '0020hrs',
 '0020hrs nowhaasyupxim',
 '0020hrs woke',
 '0022',
 '0022 right',
 '003',
 '003 age',
 '003 im',
 '003 last',
 '003 urllink',
 '0030',
 '0030 thats',
 '003200',
 '003200 cmaj7',
 '003247',
 '003247 2004',
 '004',
 '004 bday',
 '004 interest',
 '004 nicknames',
 '004 urllink',
 '0041',
 '0045',
 '0045 email',
 '0045 havent',
 '0045 thats',
 '005',
 '005 euroes',
 '005 eurosnbsp',
 '005 gender',
 '005 height',
 '005 mph',
 '005 particular',
 '005 per',
 '005 pretty',
 '005 urllink',
 '0053',
 '0053 considering',
 '006',
 '006 age',
 '006 birthday',
 '006 hair',
 '006 urllink',
 '0060521996',
 '0064',
 '0064 identified',
 '0064 shall',
 '0067',
 '0067 would',
 '007',
 '007 actor',
 '007 actually',
 '007 also',
 '007 arent',
 '007 birthday',
 '007 bit',
 '007 dance',
 '007 doesnt',
 '007 dun',
 '007 eye',
 '007 financial',
 '007 game',
 '007 gets',
 '007 go',
 '007 going',
 '007 height',
 '007 hope',
 '007 internet',
 '007 jennifer',
 '007 jersey',
 '007 like',
 '007 nbsp',
 '007 needs',
 '007 never',
 '007 nightfire',
 '007 pictures',
 '007 respect',
 '007 said',
 '007 see',
 '007 serious',
 '007 sharing',
 '007 since',
 '007 start',
 '007 tell',
 '007 thing',
 '007 today',
 '007 tomorrow',
 '007 undocumentables',
 '007 well',
 '007 would',
 '007nbsp',
 '007nbsp agree',
 '007well',
 '007well really',
 '008',
 '008 hair',
 '008 height',
 '008 pt',
 '008 race',
 '009',
 '009 eye',
 '009 hair',
 '0097',
 '0097 compliment',
 '00h',
 '00h done',
 '00h later',
 '00note__',
 '00note__ notes',
 '00s',
 '00s abc',
 '00s one',
 '00s remeber',
 '00s thats',
 '00s theres',
 '00t',
 '00t damn',
 '01',
 '01 02',
 '01 101102',
 '01 11',
 '01 115',
 '01 1211',
 '01 191941',
 '01 194018',
 '01 194315',
 '01 195117',
 '01 195237',
 '01 195651',
 '01 195656',
 '01 1964',
 '01 1972',
 '01 2003',
 '01 2004',
 '01 203',
 '01 309',
 '01 357',
 '01 across',
 '01 best',
 '01 bluetooth',
 '01 bright',
 '01 broccoli',
 '01 butterfly',
 '01 camaro',
 '01 cell',
 '01 chance',
 '01 charge',
 '01 clearer',
 '01 close',
 '01 colorful',
 '01 come',
 '01 cows',
 '01 disrespectful',
 '01 four',
 '01 freedom',
 '01 friends',
 '01 goofy',
 '01 gsm',
 '01 hammy',
 '01 hehehe',
 '01 issues',
 '01 jewel',
 '01 keyboard',
 '01 know',
 '01 known',
 '01 leen',
 '01 lil',
 '01 means',
 '01 miles',
 '01 minds',
 '01 mp3',
 '01 nope',
 '01 pant',
 '01 pants',
 '01 percent',
 '01 person',
 '01 project',
 '01 role',
 '01 seconds',
 '01 serena',
 '01 still',
 '01 story',
 '01 strike',
 '01 sundrop',
 '01 televive',
 '01 thecurehalo',
 '01 time',
 '01 toxic',
 '01 triggered',
 '01 underworld',
 '01 unfortunately',
 '01 victoria',
 '01 waiting',
 '01 watch',
 '01 whats',
 '01 我的地盤',
 '010',
 '010 10',
 '010 answer',
 '010 big',
 '010 cleveland',
 '010 custom',
 '010 customer',
 '010 eye',
 '010 flashing',
 '010 hyundai',
 '010 national',
 '010 never',
 '010 siblings',
 '010 wear',
 '0100',
 '0100 banana',
 '0100 sleep',
 '0100 time',
 '0100 wokeup',
 '010000oh',
 '010000oh one',
 '0100010001101111011100100110101101111000',
 '0100hrunexpectedlymy',
 '0100hrunexpectedlymy papa',
 '0100kmh',
 '0100kmh 44',
 '010101',
 '010101 last',
 '010101 personal',
 '01012346',
 '01012346 course',
 '0102',
 '0102 north',
 '0102 right',
 '0102 season',
 '010203',
 '010203 hehehe',
 '010504',
 '010504 may',
 '01081997',
 '01081997 01082004its',
 '01082004',
 '01082004 apples',
 '01082004 celebrate',
 '01082004its',
 '01082004its 7yrs',
 '010902',
 '010902 work',
 '010haa',
 '010haa haa',
 '011',
 '011 braces',
 '011 functions',
 '011 nbsp',
 '011 points',
 '011 race',
 '011 uich',
 '011 zodiac',
 '011110am',
 '011110am mobynathan',
 '011117am',
 '011117am mobynathan',
 '011136am',
 '011136am jaggonmaster',
 '011390669882122',
 '011390669882122 message',
 '01142004',
 '01142004 country',
 '011607',
 '011607 think',
 '011615am',
 '011615am mobynathan',
 '011646am',
 '011646am madsh00ter',
 '011723am',
 '011723am madsh00ter',
 '011732am',
 '011732am jaggonmaster',
 '011732am mobynathan',
 '011843am',
 '011843am madsh00ter',
 '01187',
 '01187 _______________________',
 '011932am',
 '011932am madsh00ter',
 '011936am',
 '011936am madsh00ter',
 '011937am',
 '011937am mobynathan',
 '011939am',
 '011939am madsh00ter',
 '011940am',
 '011940am mobynathan',
 '012',
 '012 glasses',
 '012 hair',
 '012 many',
 '01202004',
 '01202004 larissa',
 '012022',
 '012022 2004',
 '01212004',
 '01212004 therese',
 '0125',
 '0125 pm',
 '01252004',
 '01252004 english',
 '012604',
 '012604 would',
 '01299',
 '01299 402114',
 '01299 403816',
 '012xxx',
 '012xxx xxxx',
 '013',
 '013 born',
 '013 dodid',
 '013 give',
 '013 inch',
 '013 nationality',
 '0130',
 '0130 morningnbsp',
 '0130 watch',
 '0130 watched',
 '013227',
 '013227 gmt',
 '013528',
 '013528 2004',
 '013616',
 '013616 2004',
 '013626',
 '013626 2004',
 '013936',
 '013936 2004',
 '013944',
 '013944 2004',
 '014',
 '014 current',
 '014 hair',
 '014 piercings',
 '0142662566',
 '0142662566 number',
 '014357am',
 '014357am madsh00ter',
 '014730',
 '014730 2004',
 '014757',
 '014757 2004',
 '015',
 '015 born',
 '015 course',
 '015 gallon',
 '015 percent',
 '015 piercings',
 '015 trade',
 '015 zodiac',
 '01562',
 '01562 66270',
 '01562 67148',
 '01562 820041',
 '01562nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '01562nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp pop',
 '016',
 '016 current',
 '016 many',
 '016 per',
 '016 tattoos',
 '017',
 '017 entire',
 '017 hour',
 '017 laungage',
 '017 tattoos',
 '017 zodiac',
 '01752',
 '01752 224840',
 '018',
 '018 bad',
 '018 felipe',
 '018 many',
 '018 todays',
 '0185nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp',
 '0185nbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbspnbsp margaret',
 '019',
 '019 nationality',
 '019 piercing',
 '019 time',
 '01birdjpg',
 '01birdjpg urllink',
 '01jill',
 '01jill sims',
 '01july04',
 '01july04 ripped',
 '01not',
 '01not bad',
 '01nov',
 '01nov 30',
 '01s',
 '01s responsibilities',
 '01sep',
 '01sep subtracted',
 '01sep04',
 '01sep04 remember',
 '01when',
 '01when younger',
 '01x',
 '01x series',
 '01x urllink',
 '02',
 '02 03',
 '02 1964',
 '02 2002',
 '02 2004',
 '02 221430',
 '02 222425',
 '02 222803',
 '02 222812',
 '02 233531',
 '02 40',
 '02 86',
 '02 9550',
 '02 added',
 '02 ali',
 '02 annoying',
 '02 argue',
 '02 ashley',
 '02 august',
 '02 beyonce',
 '02 blackwhite',
 '02 cents',
 '02 changes',
 '02 character',
 '02 cheerwine',
 '02 could',
 '02 darryl',
 '02 day',
 '02 deadbeat',
 '02 dont',
 '02 dork',
 '02 drop',
 '02 dumb',
 '02 encore',
 '02 faced',
 '02 fear',
 '02 florida',
 '02 franzferdinandtakemeout',
 '02 friends',
 '02 geography',
 '02 group',
 '02 hits',
 '02 hope',
 '02 im',
 '02 iraq',
 '02 keyboard',
 '02 kg',
 '02 lott',
 '02 lucky',
 '02 magic',
 '02 mama',
 '02 may',
 '02 maybe',
 '02 meet',
 '02 messages',
 '02 miles',
 '02 movies',
 '02 nbspnbspnbspnbspnbspnbspnbspnbsp',
 '02 nice',
 '02 nissan',
 '02 one',
 '02 original',
 '02 personal',
 '02 pet',
 '02 pics',
 '02 plenty',
 '02 points',
 '02 rascal',
 '02 released',
 '02 republicans',
 '02 right',
 '02 rower',
 '02 season',
 '02 seemed',
 '02 shorts',
 '02 show',
 '02 simpsons',
 '02 statement',
 '02 still',
 '02 think',
 '02 today',
 '02 trb',
 '02 trips',
 '02 twister',
 '02 weakest',
 '02 weve',
 '02 wilding',
 '02 win',
 '02 windup',
 '02 七里香',
 '020',
 '020 bad',
 '020 could',
 '020 even',
 '020 piercing',
 '020 still',
 '0200',
 '0200 finally',
 '0200 hrs',
 '0200 pm',
 '0200 watching',
 '0200 went',
 '020031',
 '020031 pm',
 '0200hr',
 '0200hr 22',
 '0200hrtido',
 '0200hrtido dulu',
 '020101',
 '020101 clubs',
 '0203',
 '0203 financial',
 '0203 getting',
 '0203 inland',
 '0203 transfer',
 '020304',
 '020304 115423',
 '020604',
 '020604 went',
 '021',
 '021 drop',
 '021 ill',
 '021 piercings',
 '021 tattoos',
 '021 totally',
 '02109',
 '02109 number',
 '02115',
 '02118',
 '02118 gmodestpartnersorg',
 '021320',
 '021320 link',
 '021426',
 '021426 homepage',
 '0215',
 '0215 gmt',
 '021535',
 '021535 2004',
 '02162003',
 '02162003 essential',
 '0217',
 '0217 pm',
 '0218',
 '0218 pm',
 '02182004',
 '02182004 urllink',
 '0219',
 '0219 pm',
 '022',
 '022 favorite',
 '022 looks',
 '022 piercings',
 '022 µu',
 '0220',
 '0220 pm',
 '0221',
 '0221 pm',
 '0222',
 '0222 pm',
 '022227',
 '022227 2004',
 '0223',
 '0223 pm',
 '02232004',
 '0224',
 '0224 pm',
 '0225',
 '0225 pm',
 '0225 reverse',
 '02252004',
 '02252004 nbsp',
 '0226',
 '0226 pm',
 '022600',
 '022600 2004',
 '0227',
 '0227 pm',
 '0228',
 '0228 pm',
 '0229',
 '0229 pm',
 '023',
 '023 least',
 '023 released',
 '023 tattoos',
 '023 today',
 '0230',
 '0230 oni',
 '0230 pm',
 '0230 reminded',
 '0231',
 '0231 pm',
 '0232',
 '0232 pm',
 '0233',
 '0233 pm',
 '0234',
 '0234 pm',
 '0235',
 '0235 pm',
 '0236',
 '0236 pm',
 '0237',
 '0237 ian',
 '0237 pm',
 '023732',
 '023732 pm',
 '023746',
 '023746 pm',
 '023755',
 '023755 pm',
 '0238',
 '0238 pm',
 '023800',
 '023800 pm',
 '023801',
 '023801 pm',
 '023808',
 '023808 pm',
 '023847',
 '023847 pm',
 '023939',
 '023939 pm',
 '023946',
 '023946 pm',
 '023947',
 '023947 pm',
 '023f5unthat',
 '023f5unthat sarah',
 '024',
 '024 favorite',
 '024 tattoos',
 '024 todays',
 '0240',
 '0240 pm',
 '024009',
 '024009 pm',
 '0241',
 '0241 pm',
 '024201',
 '024201 pm',
 '0243',
 '0243 pm',
 '0244',
 '0244 pm',
 '0245',
 '0245 pm',
 '024528am',
 '024528am jaggonmaster',
 '0246',
 '0246 pm',
 '0247',
 '0247 pm',
 '024716',
 '024716 pm',
 '024723',
 '024723 pm',
 '0248',
 '0248 pm',
 '0249',
 '024908',
 '024908 pm',
 '025',
 '025 least',
 '025 liability',
 '025 seconds',
 '025 time',
 '025 todays',
 '0250',
 '0250 pm',
 '025050',
 '025050 blind',
 '0250h',
 '0250h ive',
 '0251',
 '0251 pm',
 '0252',
 '0252 pm',
 '0253',
 '0253 pm',
 '0254',
 '0254 pm',
 '0255',
 '0255 pm',
 '025613',
 '025613 pm',
 '0257',
 '0257 pm',
 '0258',
 '0258 pm',
 '025805',
 '025805 2004',
 '025808',
 '025808 2004',
 '026',
 '026 favorite',
 '026 main',
 '026 percent',
 '026 ready',
 '026 time',
 '026 today',
 '026903116',
 '026903116 nbsp',
 '026hr',
 '026hr raise',
 '027',
 '027 least',
 '027 mothers',
 '027 ready',
 '027604303',
 '027604303 ref',
 '027623577',
 '027623577 027604303',
 '028',
 '028 dodid',
 '028 fathers',
 '028 mothers',
 '028 plus',
 '029',
 '029 brothers',
 '029 fathers',
 '029 play',
 '029jpg',
 '029jpg urllink',
 '02haizmissed',
 '02haizmissed class',
 '02ip',
 '02ip 6750',
 '02july04',
 '02july04 week',
 '03',
 '03 013936',
 '03 013944',
 '03 02haizmissed',
 '03 034320',
 '03 034936',
 '03 035102',
 '03 035622',
 '03 04',
 '03 040748',
 '03 040751',
 '03 165336',
 '03 172515',
 '03 174546',
 '03 1972',
 '03 2003',
 '03 2004',
 '03 232612',
 '03 233534',
 '03 233628',
 '03 alan',
 '03 always',
 '03 ask',
 '03 aware',
 '03 back',
 '03 believe',
 '03 broke',
 '03 capitol',
 '03 could',
 '03 csi',
 '03 cuz',
 '03 deadbeat',
 '03 encoded',
 '03 evanescene',
 '03 ever',
 '03 fiesta',
 '03 focus',
 '03 freaky',
 '03 freds',
 '03 fucked',
 '03 gd',
 '03 gold',
 '03 greatest',
 '03 hair',
 '03 hate',
 '03 im',
 '03 jaime',
 '03 january',
 '03 jessica',
 '03 kameron',
 '03 kfc',
 '03 kg',
 '03 knows',
 '03 like',
 '03 lives',
 '03 love',
 '03 marshmallow',
 '03 mcdonalds',
 '03 meet',
 '03 met',
 '03 much',
 '03 myherour',
 '03 never',
 '03 new',
 '03 pineapple',
 '03 popular',
 '03 randomness',
 '03 rem',
 '03 remove',
 '03 school',
 '03 seem',
 '03 seemed',
 '03 since',
 '03 start',
 '03 state',
 '03 suppsose',
 '03 thefrenchkicksclosetomodern',
 '03 thought',
 '03 time',
 '03 timetable',
 '03 tokyo',
 '03 untitled',
 '03 videos',
 '03 water',
 '03 way',
 '03 whats',
 '03 would',
 '03 藉口',
 '030',
 '030 arewere',
 '030 sisters',
 '030 stepparents',
 '030 total',
 '0300',
 '0300 go',
 '0300 someone',
 '0300 things',
 '0300hrapa',
 '0300hrapa lagi',
 '0300hrs',
 '0300hrs local',
 '030101',
 '030101 restaurants',
 '030208',
 '030208 2004',
 '030214',
 '030214 2004',
 '0303',
 '0303 afternoon',
 '0303 pass',
 '030303',
 '030303 gods',
 '030303 world',
 '030303 wouldnt',
 '0303030303',
 '0303030303 wont',
 '0304',
 '0304 hat',
 '0304 identity',
 '0304 retire',
 '030503',
 '030503 sat',
 '030504',
 '030504 whats',
 '030804',
 '030804 original',
 '030952',
 '030952 hey',
 '031',
 '031 brotherss',
 '031 favorite',
 '031 humiliating',
 '0312002',
 '0312002 limited',
 '0315',
 '0315 aogatססn饴rjifcbqӹbӧaҥ',
 '0315 somewhere',
 '03152004',
 '03152004 urllink',
 '0318',
 '0318 hrs',
 '03182004',
 ...]

In [61]:
X_train_ct = cvect.transform(X_train)

In [62]:
type(X_train_ct)

scipy.sparse.csr.csr_matrix

In [63]:
X_train_ct

<80000x4517090 sparse matrix of type '<class 'numpy.int64'>'
	with 13894625 stored elements in Compressed Sparse Row format>

In [64]:
X_train_ct[0]

<1x4517090 sparse matrix of type '<class 'numpy.int64'>'
	with 483 stored elements in Compressed Sparse Row format>

In [65]:
X_test_ct = cvect.transform(X_test)

In [66]:
X_test_ct

<20000x4517090 sparse matrix of type '<class 'numpy.int64'>'
	with 2633973 stored elements in Compressed Sparse Row format>

In [67]:
cvect.get_feature_names()[:10]

['00',
 '00 damarcus',
 '00 damn',
 '00 doesnt',
 '00 dont',
 '00 draw',
 '00 games',
 '00 laughed',
 '00 lil',
 '00 morning']

In [68]:
label_counts=dict()

for labels in data.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[str(label)]+=1
        else:
            label_counts[str(label)]=1

In [69]:
label_counts

{'male': 53358,
 '15': 1,
 'Student': 22122,
 'Leo': 8230,
 '33': 1,
 'InvestmentBanking': 244,
 'Aquarius': 9050,
 'female': 46642,
 '14': 1,
 'indUnk': 33097,
 'Aries': 10637,
 '25': 1,
 'Capricorn': 8723,
 '17': 1,
 'Gemini': 9225,
 '23': 1,
 'Non-Profit': 1326,
 'Cancer': 9253,
 'Banking': 354,
 '37': 1,
 'Sagittarius': 7366,
 '26': 1,
 '24': 1,
 'Scorpio': 7049,
 '27': 1,
 'Education': 5553,
 '45': 1,
 'Engineering': 2332,
 'Libra': 7250,
 'Science': 1090,
 '34': 1,
 '41': 1,
 'Communications-Media': 2830,
 'BusinessServices': 626,
 'Sports-Recreation': 406,
 'Virgo': 7134,
 'Taurus': 8530,
 'Arts': 5031,
 'Pisces': 7553,
 '44': 1,
 '16': 1,
 'Internet': 2251,
 'Museums-Libraries': 308,
 'Accounting': 528,
 '39': 1,
 '35': 1,
 'Technology': 8484,
 '36': 1,
 'Law': 360,
 '46': 1,
 'Consulting': 905,
 'Automotive': 124,
 '42': 1,
 'Religion': 1081,
 '13': 1,
 'Fashion': 1898,
 '38': 1,
 '43': 1,
 'Publishing': 1079,
 '40': 1,
 'Marketing': 726,
 'LawEnforcement-Security': 368,
 'HumanResources': 209,
 'Telecommunications': 165,
 'Military': 798,
 'Government': 2055,
 'Transportation': 745,
 'Architecture': 83,
 'Advertising': 766,
 '47': 1,
 'Agriculture': 168,
 'Biotech': 324,
 'RealEstate': 149,
 'Manufacturing': 542,
 '48': 1,
 'Construction': 250,
 'Chemicals': 305,
 'Maritime': 59,
 'Tourism': 253,
 'Environment': 6}

In [70]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))

In [71]:
y_train = binarizer.fit_transform(y_train)
y_test = binarizer.transform(y_test)

In [72]:
y_train

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [73]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier

In [74]:
model=LogisticRegression(solver='lbfgs', max_iter=50)
model=OneVsRestClassifier(model)
model.fit(X_train_ct,y_train)

OneVsRestClassifier(estimator=LogisticRegression(max_iter=50))

In [75]:
Ypred=model.predict(X_test_ct)

In [76]:
Ypred

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [77]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def display_metrics_micro(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: Micro', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision score: Micro', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall score: Micro', recall_score(Ytest, Ypred, average='micro'))
    
    
def display_metrics_macro(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: Macro', f1_score(Ytest, Ypred, average='macro'))
    print('Average recall score: MAcro', recall_score(Ytest, Ypred, average='macro'))
    
def display_metrics_weighted(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: weighted', f1_score(Ytest, Ypred, average='weighted'))
    print('Average precision score: weighted', average_precision_score(Ytest, Ypred, average='weighted'))
    print('Average recall score: weighted', recall_score(Ytest, Ypred, average='weighted'))

In [78]:
display_metrics_micro(y_test,Ypred)

Accuracy score:  0.11525
F1 score: Micro 0.4804247302620312
Average precision score: Micro 0.2917903694263187
Average recall score: Micro 0.35065

In [79]:
display_metrics_macro(y_test,Ypred)

Accuracy score:  0.11525
F1 score: Macro 0.1599424683124602
Average recall score: MAcro 0.10617343731962745

In [80]:
display_metrics_weighted(y_test,Ypred)

Accuracy score:  0.11525
F1 score: weighted 0.4413578317420721
Average precision score: weighted 0.3934020362135363
Average recall score: weighted 0.35065

In [81]:
preds = Ypred[:15]
actuals = y_test[:15]

In [82]:
five_actual = binarizer.inverse_transform(actuals)
five_actual

[('Aries', 'Fashion', 'male'),
 ('Libra', 'Student', 'male'),
 ('Sagittarius', 'indUnk', 'male'),
 ('Aquarius', 'indUnk', 'male'),
 ('Cancer', 'Student', 'male'),
 ('Pisces', 'Transportation', 'male'),
 ('Arts', 'Capricorn', 'female'),
 ('Capricorn', 'Student', 'male'),
 ('Cancer', 'Religion', 'male'),
 ('Libra', 'indUnk', 'male'),
 ('Aquarius', 'female', 'indUnk'),
 ('Capricorn', 'Consulting', 'female'),
 ('Virgo', 'indUnk', 'male'),
 ('Internet', 'Sagittarius', 'male'),
 ('Scorpio', 'Technology', 'male')]

In [83]:
five_pred = binarizer.inverse_transform(preds)
five_pred

[(),
 ('Student', 'female'),
 ('female',),
 ('Student', 'male'),
 ('Cancer', 'female'),
 ('Pisces', 'Transportation', 'male'),
 ('female',),
 ('Student',),
 ('Religion', 'female'),
 ('male',),
 ('female',),
 ('Consulting', 'female'),
 ('female',),
 ('male',),
 ('male',)]

In [84]:
print(binarizer.inverse_transform(Ypred)[877])
print(binarizer.inverse_transform(y_test)[877])

('Student', 'Virgo', 'male')
('Student', 'Virgo', 'male')

In [85]:
print(binarizer.inverse_transform(Ypred)[514])
print(binarizer.inverse_transform(y_test)[514])

()
('Libra', 'female', 'indUnk')

In [86]:
print(binarizer.inverse_transform(Ypred)[99])
print(binarizer.inverse_transform(y_test)[99])

('Education', 'Pisces', 'male')
('Education', 'Pisces', 'male')

In [87]:
print(binarizer.inverse_transform(Ypred)[499])
print(binarizer.inverse_transform(y_test)[499])

('male',)
('Pisces', 'Student', 'female')

In [88]:
print(binarizer.inverse_transform(Ypred)[699])
print(binarizer.inverse_transform(y_test)[699])

('Student', 'female')
('Libra', 'Student', 'male')

In [89]:
Ypred_inversed = binarizer.inverse_transform(Ypred)
y_test_inversed = binarizer.inverse_transform(y_test)
for i in range(5):
    print('Text:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test_ct[i],
        ','.join(y_test_inversed[i]),
        ','.join(Ypred_inversed[i])
    ))

Text:	  (0, 466872)	1
  (0, 584973)	1
  (0, 584975)	1
  (0, 1781828)	1
  (0, 2442107)	1
  (0, 2442126)	1
  (0, 3036818)	1
True labels:	Aries,Fashion,male
Predicted labels:


Text:	  (0, 8711)	1
  (0, 9452)	1
  (0, 21144)	1
  (0, 67661)	1
  (0, 67771)	1
  (0, 74496)	1
  (0, 78471)	1
  (0, 120596)	2
  (0, 121772)	1
  (0, 126920)	1
  (0, 157801)	2
  (0, 157893)	1
  (0, 178920)	1
  (0, 182108)	1
  (0, 182417)	1
  (0, 183363)	2
  (0, 194027)	1
  (0, 202361)	5
  (0, 204077)	1
  (0, 205064)	1
  (0, 239970)	1
  (0, 240321)	1
  (0, 241441)	1
  (0, 241749)	1
  (0, 253541)	9
  :	:
  (0, 4449080)	1
  (0, 4449591)	1
  (0, 4449622)	1
  (0, 4450746)	3
  (0, 4451462)	1
  (0, 4451494)	1
  (0, 4452125)	1
  (0, 4456092)	2
  (0, 4456694)	1
  (0, 4463749)	2
  (0, 4464331)	2
  (0, 4469199)	1
  (0, 4469266)	1
  (0, 4471407)	1
  (0, 4490043)	1
  (0, 4490712)	1
  (0, 4497129)	1
  (0, 4497648)	1
  (0, 4499761)	2
  (0, 4500860)	1
  (0, 4501718)	1
  (0, 4503106)	1
  (0, 4503264)	1
  (0, 4505960)	1
  (0, 4506082)	1
True labels:	Libra,Student,male
Predicted labels:	Student,female


Text:	  (0, 318611)	1
  (0, 357067)	1
  (0, 361134)	1
  (0, 391213)	1
  (0, 391354)	1
  (0, 543978)	1
  (0, 631341)	1
  (0, 633217)	1
  (0, 1132696)	1
  (0, 1541635)	1
  (0, 1543316)	1
  (0, 1558561)	1
  (0, 1560873)	1
  (0, 1664615)	1
  (0, 1665313)	1
  (0, 1701663)	1
  (0, 1702708)	1
  (0, 1816720)	1
  (0, 1816790)	1
  (0, 1891794)	1
  (0, 2075743)	1
  (0, 2375943)	1
  (0, 2376206)	1
  (0, 2396636)	1
  (0, 2534045)	1
  (0, 2534203)	1
  (0, 2534660)	1
  (0, 2761399)	1
  (0, 2976644)	1
  (0, 2977030)	1
  (0, 3195034)	1
  (0, 3196898)	1
  (0, 3694564)	1
  (0, 4030494)	1
  (0, 4030808)	1
  (0, 4082650)	1
  (0, 4084022)	1
  (0, 4114444)	1
  (0, 4114495)	1
  (0, 4250086)	1
  (0, 4250165)	1
  (0, 4254662)	1
  (0, 4288216)	1
  (0, 4288406)	1
  (0, 4363557)	1
  (0, 4364777)	1
  (0, 4375706)	1
True labels:	Sagittarius,indUnk,male
Predicted labels:	female


Text:	  (0, 262397)	1
  (0, 427386)	1
  (0, 427584)	1
  (0, 489553)	2
  (0, 491466)	1
  (0, 778570)	1
  (0, 827762)	1
  (0, 827804)	1
  (0, 1089255)	1
  (0, 1290818)	1
  (0, 1291092)	1
  (0, 1439970)	1
  (0, 1441106)	1
  (0, 1491504)	1
  (0, 1695395)	1
  (0, 1695479)	1
  (0, 1863676)	1
  (0, 1871386)	1
  (0, 1872291)	1
  (0, 1934343)	2
  (0, 1935835)	1
  (0, 2458180)	1
  (0, 3065415)	1
  (0, 3067115)	1
  (0, 3077715)	1
  (0, 3165147)	1
  (0, 3165775)	1
  (0, 3451522)	1
  (0, 3451708)	1
  (0, 3627746)	1
  (0, 3990489)	1
  (0, 3994138)	1
  (0, 4044829)	1
  (0, 4210949)	1
  (0, 4323796)	1
  (0, 4324422)	1
  (0, 4329554)	1
  (0, 4329754)	1
True labels:	Aquarius,indUnk,male
Predicted labels:	Student,male


Text:	  (0, 93889)	1
  (0, 94950)	1
  (0, 183363)	1
  (0, 183680)	1
  (0, 202361)	1
  (0, 202771)	1
  (0, 207573)	1
  (0, 207908)	1
  (0, 303977)	1
  (0, 304053)	1
  (0, 343594)	1
  (0, 345896)	1
  (0, 409433)	2
  (0, 409468)	1
  (0, 409824)	1
  (0, 470504)	1
  (0, 471990)	1
  (0, 548905)	1
  (0, 548926)	1
  (0, 554334)	1
  (0, 554345)	1
  (0, 631341)	1
  (0, 631811)	1
  (0, 688828)	1
  (0, 689313)	1
  :	:
  (0, 3598381)	1
  (0, 3598431)	1
  (0, 3600785)	2
  (0, 3600821)	1
  (0, 3642884)	2
  (0, 3643407)	1
  (0, 3643518)	1
  (0, 3849449)	1
  (0, 3849917)	1
  (0, 3990489)	1
  (0, 3998304)	1
  (0, 4264200)	3
  (0, 4264271)	1
  (0, 4264341)	1
  (0, 4264373)	1
  (0, 4269180)	1
  (0, 4304472)	1
  (0, 4305157)	1
  (0, 4382004)	1
  (0, 4400506)	1
  (0, 4401318)	1
  (0, 4404656)	1
  (0, 4405824)	1
  (0, 4420768)	1
  (0, 4422224)	1
True labels:	Cancer,Student,male
Predicted labels:	Cancer,female

In [90]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

def build_model_train(X_train, y_train, X_valid=None, y_valid=None, C=1.0, model='lr'):
    if model=='lr':
        model = LogisticRegression(C=C, penalty='l1', dual=False, solver='liblinear')
        model = OneVsRestClassifier(model)
        model.fit(X_train, y_train)
    
    elif model=='svm':
        model = LinearSVC(C=C, penalty='l1', dual=False, loss='squared_hinge')
        model = OneVsRestClassifier(model)
        model.fit(X_train, y_train)
    
    elif model=='nbayes':
        model = MultinomialNB(alpha=1.0)
        model = OneVsRestClassifier(model)
        model.fit(X_train, y_train)
        
    elif model=='lda':
        model = LinearDiscriminantAnalysis(solver='svd')
        model = OneVsRestClassifier(model)
        model.fit(X_train, y_train)

    return model

In [ ]:
models = ['lr','svm','nbayes']
for model in models:
    model = build_model_train(X_train_ct,y_train,model=model)
    model.fit(X_train_ct,y_train)
    Ypred=model.predict(X_test_ct)
    print("\n")
    print(f"**displaying  metrics for the mode {model}\n")
    display_metrics_micro(y_test,Ypred)
    print("\n")
    print("\n")
    display_metrics_macro(y_test,Ypred)
    print("\n")
    print("\n")
    display_metrics_weighted(y_test,Ypred)
    print("\n")
    print("\n")

**displaying  metrics for the mode OneVsRestClassifier(estimator=LogisticRegression(penalty='l1',
                                                 solver='liblinear'))

Accuracy score:  0.15
F1 score: Micro 0.5056073561637949
Average precision score: Micro 0.3017353835267335
Average recall score: Micro 0.3922333333333333




Accuracy score:  0.15
F1 score: Macro 0.2233178201659074
Average recall score: MAcro 0.1613584176920989




Accuracy score:  0.15
F1 score: weighted 0.48586767131037834
Average precision score: weighted 0.4048614934405198
Average recall score: weighted 0.3922333333333333